@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700');

body {
    font-family: 'Amatic SC', cursive;
}

.my-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
